<h1>{{gameTitle}}</h1>

<form
        class="login-form"
        (ngSubmit)="signIn(loginForm.value)"
        #loginForm="ngForm">
  <div>
    <input [(ngModel)]="player.name" name="name" title="name" required/>
  </div>
  <div>
    <button>Zacznij grę</button>
  </div>
</form>

<div class="player-list">
  <h3>Gracze:</h3>
  <div *ngFor="let player of apiService.players">
    {{player.id}} ({{player.points}} pkt.)
  </div>
</div>

<div class="main" *ngIf="apiService.playerRegistered">
  <div>
    <div class="game" [class.solved]="apiService.game?.solved">
      <label class="game-question">{{apiService.game?.question}}</label>
      <div class="game-plays">
        <div class="game-play" *ngFor="let play of apiService.game?.plays">
          <label>{{play.playerId}}</label>
          <span class="game-answer">{{play.answer}}</span>
          <span class="game-points"
                *ngIf="apiService.game?.solved && play.points != null">{{play.points}} pkt.</span>
        </div>
      </div>
    </div>
    <h3>Ukończone rundy:</h3>
    <div class="archived-games">
      <div class="game" *ngFor="let game of apiService.archivedGames">
        <div class="game" [class.solved]="game?.solved">
          <label class="game-question">{{game?.question}}</label>
          <div class="game-plays">
            <div class="game-play" *ngFor="let play of game?.plays">
              <label>{{play.playerId}}</label>
              <span class="game-answer">{{play.answer}}</span>
              <span class="game-points"
                    *ngIf="game?.solved && play.points != null">{{play.points}} pkt.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>